#encabezado{
    position: absolute;
    top:0;
    left:0;
    height: 8%;
    width: 100%;
    background-color: #8d7049;
    color: white;
    padding-left: 15px;

}
#encabezado h1{
    display: inline;
}

.descripcion{
    font-size: 18px;
}

#menu{
    position: absolute;
    top:8%;
    left:0;
    height: 4%;
    width: 100%;
    background-color: #9b8309;
    color: black;
}

#menu a:visited{
    color: navy;
}

#menu a:hover{
    background-color: green;
    color: white;
}

#barraLateral {
    position: absolute;
    top:12%;
    left:0;
    height: 81%;
    width: 20%;
    background-color: #df5722;
    color: black;
}

#contenido{
    position: absolute;
    top:12%;
    left:22%;
    height: 81%;
    width: 80%;
    background-color:white;
    color: black;
    overflow: auto;
}

#piePagina{
    position: absolute;
    bottom:0%;
    left:0%;
    height: 7%;
    width: 100%;
    background-color:orange;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.lineaDireccion{
    display: inline;
}

#encabezadoTabla{
    font-size: 45px;
    background-color: rgb(209, 6, 6);
    color: white;
}

#tablaResumen tr{
    font-size: 35px;
}

#tablaResumen tr{
    background-color: rgb(10, 252, 131);
    color:white;
}